NujitERP/Web References/NujitWebService/updateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.nujit.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.nujit.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nujit.com/">
      <s:element name="CheckForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateAvailable" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdateERP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdateERPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateAvailable" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="CheckForUpdateSoapIn">
    <part name="parameters" element="s0:CheckForUpdate" />
  </message>
  <message name="CheckForUpdateSoapOut">
    <part name="parameters" element="s0:CheckForUpdateResponse" />
  </message>
  <message name="CheckForUpdateERPSoapIn">
    <part name="parameters" element="s0:CheckForUpdateERP" />
  </message>
  <message name="CheckForUpdateERPSoapOut">
    <part name="parameters" element="s0:CheckForUpdateERPResponse" />
  </message>
  <portType name="UpdateServiceSoap">
    <operation name="CheckForUpdate">
      <input message="s0:CheckForUpdateSoapIn" />
      <output message="s0:CheckForUpdateSoapOut" />
    </operation>
    <operation name="CheckForUpdateERP">
      <input message="s0:CheckForUpdateERPSoapIn" />
      <output message="s0:CheckForUpdateERPSoapOut" />
    </operation>
  </portType>
  <binding name="UpdateServiceSoap" type="s0:UpdateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CheckForUpdate">
      <soap:operation soapAction="http://www.nujit.com/CheckForUpdate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckForUpdateERP">
      <soap:operation soapAction="http://www.nujit.com/CheckForUpdateERP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UpdateService">
    <port name="UpdateServiceSoap" binding="s0:UpdateServiceSoap">
      <soap:address location="http://nujit.com/nujit_webservice/webservice/updateService.asmx" />
    </port>
  </service>
</definitions>